<% content_for :title do %>Polly<% end %>

<div class="header-content">
  <div class="header-content-inner">
    <h1 class="center">Engage your audince with live polling using Polly</h1>
    <div class='center'>
      <%= link_to "Sign in", new_user_session_path, class: 'waves-effect waves-light btn-large  indigo accent-1 text-white '%>
      <%= link_to "Sign up", new_user_registration_path, class: 'waves-effect waves-light btn-large indigo darken-4 text-white '%>
    </div>
  </div>
</div>